SR_Test (2)/SR_Test/bin/Debug/IKVM.Runtime.JNI.dll
SR_Test (2)/SR_Test/bin/Debug/IKVM.OpenJDK.XML.XPath.dll
SR_Test (2)/SR_Test/bin/Debug/IKVM.OpenJDK.XML.WebServices.dll
SR_Test (2)/SR_Test/bin/Debug/IKVM.OpenJDK.XML.Transform.dll
SR_Test (2)/SR_Test/bin/Debug/IKVM.OpenJDK.XML.Parse.dll
SR_Test (2)/SR_Test/bin/Debug/Google.Apis.Auth.PlatformServices.dll
SR_Test (2)/SR_Test/bin/Debug/Google.Api.Gax.xml
SR_Test (2)/SR_Test/bin/Debug/Google.Api.Gax.pdb
SR_Test (2)/SR_Test/bin/Debug/Google.Api.Gax.dll
SR_Test (2)/SR_Test/bin/Debug/Google.Api.Gax.Grpc.xml
SR_Test (2)/SR_Test/bin/Debug/Automation.dll
SR_Test (2)/.vs/SR_Test/v15/Server/sqlite3/storage.ide-wal
SR_Test (2)/.vs/SR_Test/v15/Server/sqlite3/storage.ide-shm
SR_Test (2)/.vs/SR_Test/v15/Server/sqlite3/storage.ide
SR_Test (2)/.vs/SR_Test/v15/Server/sqlite3/db.lock
SR_Test (2)/.vs/SR_Test/v15/.suo
SR_Test (2)/SR_Test/bin/Debug/Google.Cloud.Speech.V1.pdb
SR_Test (2)/SR_Test/bin/Debug/Google.Cloud.Speech.V1.dll
SR_Test (2)/SR_Test/bin/Debug/Google.Apis.xml
SR_Test (2)/SR_Test/bin/Debug/Google.Apis.pdb
SR_Test (2)/SR_Test/bin/Debug/Google.Apis.dll
SR_Test (2)/SR_Test/bin/Debug/Google.Api.Gax.Grpc.pdb
SR_Test (2)/SR_Test/bin/Debug/Google.Api.Gax.Grpc.dll
SR_Test (2)/SR_Test/bin/Debug/Google.Api.CommonProtos.xml
SR_Test (2)/SR_Test/bin/Debug/Google.Api.CommonProtos.pdb
SR_Test (2)/SR_Test/bin/Debug/Google.Api.CommonProtos.dll
SR_Test (2)/SR_Test/bin/Debug/CommandLine.xml
SR_Test (2)/SR_Test/bin/Debug/CommandLine.dll
SR_Test (2)/SR_Test/bin/Debug/Grpc.Core.xml
SR_Test (2)/SR_Test/bin/Debug/Grpc.Core.pdb
SR_Test (2)/SR_Test/bin/Debug/Grpc.Core.dll
SR_Test (2)/SR_Test/bin/Debug/Grpc.Auth.xml
SR_Test (2)/SR_Test/bin/Debug/Grpc.Auth.pdb
SR_Test (2)/SR_Test/bin/Debug/Google.Apis.PlatformServices.dll
SR_Test (2)/SR_Test/bin/Debug/Google.Apis.Core.xml
SR_Test (2)/SR_Test/bin/Debug/Google.Apis.Core.pdb
SR_Test (2)/SR_Test/bin/Debug/Google.Apis.Core.dll
SR_Test (2)/SR_Test/bin/Debug/Google.Apis.Auth.xml
SR_Test (2)/SR_Test/bin/Debug/Google.Apis.Auth.pdb
SR_Test (2)/SR_Test/bin/Debug/Google.Apis.Auth.dll
SR_Test (2)/SR_Test/bin/Debug/IKVM.OpenJDK.Security.dll
SR_Test (2)/SR_Test/bin/Debug/IKVM.OpenJDK.Remoting.dll
SR_Test (2)/SR_Test/bin/Debug/IKVM.OpenJDK.Naming.dll
SR_Test (2)/SR_Test/bin/Debug/IKVM.OpenJDK.Misc.dll
SR_Test (2)/SR_Test/bin/Debug/IKVM.OpenJDK.Media.dll
SR_Test (2)/SR_Test/bin/Debug/Grpc.Auth.dll
SR_Test (2)/SR_Test/bin/Debug/Google.Protobuf.xml
SR_Test (2)/SR_Test/bin/Debug/Google.Protobuf.dll
SR_Test (2)/SR_Test/bin/Debug/Google.LongRunning.xml
SR_Test (2)/SR_Test/bin/Debug/Google.LongRunning.pdb
SR_Test (2)/SR_Test/bin/Debug/Google.LongRunning.dll
SR_Test (2)/SR_Test/bin/Debug/Google.Cloud.Speech.V1.xml
SR_Test (2)/SR_Test/bin/Debug/System.Interactive.Async.xml
SR_Test (2)/SR_Test/bin/Debug/System.Interactive.Async.dll
SR_Test (2)/SR_Test/bin/Debug/SR_Test.pdb
SR_Test (2)/SR_Test/bin/Debug/SR_Test.exe.config
SR_Test (2)/SR_Test/bin/Debug/SR_Test.exe
SR_Test (2)/SR_Test/bin/Debug/IKVM.OpenJDK.Management.dll
SR_Test (2)/SR_Test/bin/Debug/IKVM.OpenJDK.Jdbc.dll
SR_Test (2)/SR_Test/bin/Debug/IKVM.OpenJDK.Core.dll
SR_Test (2)/SR_Test/bin/Debug/IKVM.OpenJDK.Corba.dll
SR_Test (2)/SR_Test/bin/Debug/IKVM.OpenJDK.Charsets.dll
SR_Test (2)/SR_Test/bin/Debug/IKVM.OpenJDK.Beans.dll
SR_Test (2)/SR_Test/bin/Debug/IKVM.AWT.WinForms.dll
SR_Test (2)/SR_Test/obj/Debug/SR.csproj.CoreCompileInputs.cache
SR_Test (2)/SR_Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SR_Test (2)/SR_Test/bin/Debug/twitter-korean-processor.dll
SR_Test (2)/SR_Test/bin/Debug/log4net.dll
SR_Test (2)/SR_Test/bin/Debug/libgrpc_csharp_ext.x86.so
SR_Test (2)/SR_Test/bin/Debug/IKVM.OpenJDK.XML.Crypto.dll
SR_Test (2)/SR_Test/bin/Debug/IKVM.OpenJDK.XML.Bind.dll
SR_Test (2)/SR_Test/bin/Debug/IKVM.OpenJDK.XML.API.dll
SR_Test (2)/SR_Test/bin/Debug/IKVM.OpenJDK.Util.dll
SR_Test (2)/SR_Test/bin/Debug/IKVM.OpenJDK.Tools.dll
SR_Test (2)/SR_Test/bin/Debug/IKVM.OpenJDK.Text.dll
SR_Test (2)/SR_Test/bin/Debug/IKVM.OpenJDK.SwingAWT.dll
SR_Test (2)/SR_Test/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
SR_Test (2)/SR_Test/obj/Debug/SR_Test.pdb
SR_Test (2)/SR_Test/obj/Debug/SR_Test.exe
SR_Test (2)/SR_Test/obj/Debug/SR_Test.Properties.Resources.resources
SR_Test (2)/SR_Test/obj/Debug/SR.csprojAssemblyReference.cache
SR_Test (2)/SR_Test/obj/Debug/SR.csproj.GenerateResource.cache
SR_Test (2)/SR_Test/obj/Debug/SR.csproj.FileListAbsolute.txt
SR_Test (2)/SR_Test/bin/Debug/Newtonsoft.Json.xml
SR_Test (2)/SR_Test/bin/Debug/Newtonsoft.Json.dll
SR_Test (2)/SR_Test/bin/Debug/NAudio.xml
SR_Test (2)/SR_Test/bin/Debug/NAudio.dll
SR_Test (2)/SR_Test/bin/Debug/Modbus.dll
SR_Test (2)/SR_Test/bin/Debug/Microsoft.Speech.dll
SR_Test (2)/SR_Test/bin/Debug/IKVM.Runtime.dll
SR_Test (2)/SR_Test/bin/Debug/libgrpc_csharp_ext.x86.dylib
SR_Test (2)/SR_Test/bin/Debug/libgrpc_csharp_ext.x64.so
SR_Test (2)/SR_Test/bin/Debug/libgrpc_csharp_ext.x64.dylib
SR_Test (2)/SR_Test/bin/Debug/grpc_csharp_ext.x86.dll
SR_Test (2)/SR_Test/bin/Debug/grpc_csharp_ext.x64.dll
SR_Test (2)/SR_Test/bin/Debug/Unme.Common.dll
SR_Test (2)/SR_Test/bin/Debug/System.Management.Automation.dll
